<!-- Index.cshtml -->
@model List<Test_2.Models.Usuario>

<h1>Top 10 Usuarios</h1>

<table class="table">
    <thead>
        <tr>
            <th>Login</th>
            <th>Nombre</th>
            <th>Paterno</th>
            <th>Materno</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Login</td>
                <td>@usuario.Nombre</td>
                <td>@usuario.Paterno</td>
                <td>@usuario.Materno</td>
            </tr>
        }
    </tbody>
</table>
